.buttonContainer {
	position: absolute;
	right: 8px;
	top: 8px;
	display: flex;
	gap: 8px;
	z-index: 10;
}

.button {
	border: #fff solid 1px;
	border-radius: 6px;
	color: #fff;
	padding: 8px;
	right: 8px;
	top: 8px;
	box-shadow: 4 4 8px rgba(0, 0, 0, 0.8);
	font-weight: bold;
}