@import "../../app/styles/partials/mixins";

.frameContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	user-select: none;
	pointer-events: none;
}

.artFrameLeft {
	height: 110%;
	width: auto;
	position: absolute;
	left: -120px;
	z-index: 8;
	user-select: none;
	filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.4));

	@include desktop {
		left: -100px;
	}
}

.artFrameRight {
	height: 110%;
	width: auto;
	position: absolute;
	right: -100px;
	z-index: 8;
	user-select: none;
	filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.4));

	@include desktop {
		right: -80px;
	}
}