.main {
	width: 100dvw;
	height: 100dvh;
	background-size: cover;
	display: flex;
	// justify-content: center;
	align-items: center;
}

.tattoo {
	height: 100%;
	// width: 100%;
	background-size: cover;
	// display: flex;

	color: #fff;
	flex: 1;

	&__header {
		font-size: 80px;
		text-align: right;
	}
}

.art {
	height: 100%;
	// width: 100%;
	background-size: cover;
	// display: flex;
	color: #fff;
	flex: 1;

	&__header {
		font-size: 80px;
		text-align: left;
	}
}


.logo-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;

	&__logo {
		width: 300px;
	}
}

.button {
	border: #fff solid 1px;
	border-radius: 6px;
	color: #fff;
	padding: 8px;
	position: absolute;
	right: 8px;
	top: 8px;
	box-shadow: 4 4 8px rgba(0, 0, 0, 0.8);
	font-weight: bold;
}