@import "../app/styles/partials/mixins";

.main {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.tattoo {
	height: max-content;
	color: #fff;
	z-index: 10;

	@include desktop {}

	&Header {
		font-size: 70px;
		text-align: center;
		@include montserrat-font(300, normal);
		line-height: 70px;
		text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
	}
}

.art {
	color: #fff;
	z-index: 10;

	@include desktop {}

	&Header {
		font-size: 70px;
		text-align: center;
		@include montserrat-font(500, normal);
		line-height: 70px;
		text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
	}
}

.logoContainer {

	background-color: rgba(231, 231, 231, 0.6);
	min-width: 278px;

	@include desktop {
		top: 50%;
	}

	&Logo {
		width: 300px;
		height: auto;
	}
}

.upsideDown {
	display: inline-block;
	transform: rotate(180deg) translateY(-1px);
	line-height: -10px;
	text-shadow: -4px -4px 8px rgba(0, 0, 0, 0.4);
}